[submodule "prereq"]
	path = prereq
	url = https://github.com/spellsaif/turbin3-prereq/
[submodule "turbin3-solana-starter"]
	path = turbin3-solana-starter
	url = https://github.com/spellsaif/turbin3-solana-starter
[submodule "capstone/kinlend-protocol"]
	path = capstone/kinlend-protocol
	url = https://github.com/spellsaif/kinlend-protocol
[submodule "dice-game"]
	path = dice-game
	url = https://github.com/spellsaif/dice-game
[submodule "amm"]
	path = amm
	url = https://github.com/spellsaif/amm
[submodule "nft-staking"]
	path = nft-staking
	url = https://github.com/spellsaif/staking
[submodule "nft-marketplace"]
	path = nft-marketplace
	url = https://github.com/spellsaif/nft-marketplace
[submodule "escrow"]
	path = escrow
	url = https://github.com/spellsaif/anchor-escrow
[submodule "vault"]
	path = vault
	url = https://github.com/spellsaif/anchor-vault
